body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #B0BEC5;
}

.scoreboard {
  position: relative;
  width: 1130px;
  height: 614px;
  margin: 20px auto;
  background-image: url(media/slotOverlay.png);
  background-repeat: no-repeat;
}

.scoreboard .place {
  position: absolute;
  width: 1050px;
  height: 560px;
  top: 36px;
  left: 32px;
  background-color: #FFECB3;
  z-index: -1;
}

#button {
  position: absolute;
  right: 10px;
  bottom: -20px;
}

#refresh {
  position: absolute;
  left: 16px;
  bottom: 16px;
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #3F51B5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#refresh:focus, #refresh:hover {
  outline-width: 0;
  background-color: #303F9F;
}